<!--
#date{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
color:black;
}

#title{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#990033;
font-weight:bold
}

#details{
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:12px;

}

#results{
background:#fff url(../img/scan0001a.jpg) no-repeat top center;
width:800px;
margin:0 auto;
margin-top:50px;
}
#header{
width:600px;
height:200px;
margin:0 auto;
background:url(../img/logo.gif) left no-repeat;
}
#footer{
width:800px;
margin:0 auto;
font-family:"Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:gray;
}
.searchfield {width: 270px; }

ul {
    width:1008px;
	list-style:none;
	margin:0 auto;
	padding:0;
   
}
li {background-color:#E9DBC0;
	float:left;
	width:126px;
	margin:0;
	padding:0;
	text-align:center;
}
li a {
	display:block;
	padding:5px 10px;
	height:100%;
	color:#000;
	text-decoration:none;
	border-right:1px solid #FFF;
}

li a:hover {
    color:white;
	background-color:#676767;
}
//-->
